html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visually-hidden { 
    position: absolute !important;
    height: 1px; width: 1px; 
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}

html {
	font-family: 'Montserrat', sans-serif;
}

form p {
	font-size: 13px;
	text-transform: uppercase;
	font-weight: bold;
}

#survey {
	background: #00CDD3;
}

#survey h1 {
	font-size: 50px;
}

.agree-text {
	color: #80DC33;
}

.disagree-text {
	color: #CF4F1F;
}


/*Form*/

.form-top {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	background: #FFD500;
	overflow: hidden;
	border-radius: 10px;
}

.form-top input {
	width: 30%;
	margin: 10px;
	text-align: center;
	padding: 5px;
	border-radius: 4px;
	border: 1px solid grey;

}

form {
	border-radius: 10px;
	box-shadow: 2px 2px 10px grey;
	max-width: 900px;
	margin: 0 auto;
	background: rgba(255,255,255,0.9);
}

legend {
	text-align: center;
	font-size: 20px;

}

.question-box {
	padding: 20px 10px;
	border: 1px #D7D7D7 dotted;
}

.answers {
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
}

.button-container {
  display: block;
  position: relative;
  display: flex;
  align-items: center;
  height: 50px;
  width: 50px;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.form-middle label {
	position: absolute;
	top: 0;
	left: 0;
}

.button-container input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0;
  transform: scale(4);
  cursor: pointer;
}

.checkmark {
  position: absolute;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  border: 4px solid #AFAAAA;
  z-index: 1;
  transition: all 0.3s ease;
}

.checkmark.max {
	height: 45px;
  	width: 45px;
}

.checkmark.min {
	height: 35px;
  	width: 35px;
}

.checkmark.agree {
	border: 4px solid #80DC33;
}

.checkmark.disagree {
	border: 4px solid #CF4F1F;
}

.button-container:hover input ~ .checkmark {
  background-color: #AFAAAA;
}

.button-container:hover input ~ .checkmark.agree {
  background-color: #80DC33;
}

.button-container:hover input ~ .checkmark.disagree {
  background-color: #CF4F1F;
}

.button-container input:checked ~ .checkmark {
  background-color: #AFAAAA;
}

.button-container input:checked ~ .checkmark.agree {
  background-color: #80DC33;
}

.button-container input:checked ~ .checkmark.disagree {
  background-color: #CF4F1F;
}

.button-container input:checked ~ .checkmark:after {
  display: block;
}

.button-container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.form-bottom {
	display: flex;
	justify-content: center;
	padding: 20px;
}
.form-bottom button {
	background-color: #009398;
	border-radius: 10px;
	color: #FFFFFF;
	width: 200px;
	height: 43px;
	padding: 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	transition: background 0.3s ease;
}

.form-bottom button:hover {
	background: #00CDD3;
	cursor: pointer;
}

